---
const { link, text } = Astro.props;
---

<a
  href={link}
  class="inline-flex items-center w-auto px-4 py-2 mt-5 text-xs font-semibold duration-300 ease-out border rounded-full bg-neutral-100 dark:bg-white dark:text-neutral-900 text-neutral-900 hover:border-neutral-700 border-neutral-900 dark:hover:border-neutral-300 hover:bg-white dark:hover:bg-black dark:hover:text-white hover:text-neutral-900"
  target="_blank" rel="noopener noreferrer"
>
  <span class="mr-2 text-base">{text}</span>
  <img src="/assets/images/li-logo.png" alt="LinkedIn" class="w-15 h-5" />
</a>
